@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 1 1000;
  src: url("https://fonts.animaapp.com/Verdana") format("truetype");
}

@font-face {
  font-family: "Verdana-Italic";
  font-style: italic;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Verdana-Italic") format("truetype");
}

@font-face {
  font-family: "Verdana-BoldItalic";
  font-style: italic;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Verdana-BoldItalic") format("truetype");
}

@font-face {
  font-family: "Verdana-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/Verdana-Bold") format("truetype");
}

* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
