.fill-38 {
  height: 35px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 28px;
}
.fill-39 {
  height: 13px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 24px;
}
.fill-4 {
  height: 15px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 15px;
}
.fill-4-1 {
  height: 21px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 21px;
}
.fill-40 {
  height: 56px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 93px;
}
.fill-41 {
  height: 20px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 5px;
}
.fill-42 {
  height: 41px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 5px;
}
.fill-53 {
  height: 42px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 41px;
}
.fill-53-copy {
  height: 42px;
  margin-left: 0;
  margin-top: 51px;
  object-fit: cover;
  width: 41px;
}
.fill-59 {
  height: 98px;
  left: 175px;
  object-fit: cover;
  position: absolute;
  top: 212px;
  width: 110px;
}
.fill-66 {
  height: 88px;
  margin-left: 43px;
  object-fit: cover;
  width: 88px;
}
.fill-67 {
  height: 30px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 30px;
}
.fill-68 {
  height: 30px;
  left: 123px;
  object-fit: cover;
  position: absolute;
  top: 29px;
  width: 30px;
}
.fill-75 {
  height: 83px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 158px;
}
.fill-76 {
  height: 15px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 67px;
}
.fill-77 {
  height: 8px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 55px;
}
.fill-78 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 19px;
}
.fill-79 {
  height: 8px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 19px;
}
.fill-80 {
  height: 15px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 67px;
}
.fill-81 {
  height: 8px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 54px;
}
.fill-82 {
  height: 62px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 14px;
}
.fill-83 {
  height: 62px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 14px;
}
.fill-84 {
  height: 16px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}
.fill-85 {
  height: 16px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}
.fill-86 {
  height: 4px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 7px;
}
.fill-87 {
  height: 7px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 72px;
  width: 9px;
}
.fill-88 {
  height: 61px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 7px;
}
.flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 195px;
  position: absolute;
  top: 0;
  width: 184px;
}
.flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 93px;
  margin-top: 22px;
  min-width: 184px;
  position: relative;
}
.flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 54px;
  margin-right: 0.72px;
  min-width: 112px;
}
.group-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 51px;
  min-height: 176px;
  padding: 0.0px 0.0px;
  position: absolute;
  top: 0;
  width: 189px;
}
.group-11 {
  align-items: flex-start;
  display: flex;
  margin-left: 7.4px;
  min-width: 145px;
}
.group-13 {
  align-items: flex-end;
  display: flex;
  height: 319px;
  justify-content: flex-end;
  left: 0;
  min-width: 1500px;
  position: absolute;
  top: 84px;
}
.group-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 130px;
  min-height: 112px;
  padding: 0.0px 0;
  position: absolute;
  top: 104px;
  width: 139px;
}
.overlap-group-1 {
  height: 217px;
  left: 208px;
  position: absolute;
  top: 0;
  width: 270px;
}
.overlap-group-2 {
  height: 319px;
  margin-bottom: 0;
  margin-left: 33px;
  position: relative;
  width: 478px;
}
.overlap-group-3 {
  height: 319px;
  margin-bottom: 0;
  position: relative;
  width: 478px;
}
.overlap-group1-1 {
  height: 80px;
  margin-top: 0;
  position: relative;
  width: 145px;
}
.overlap-group1-2 {
  align-self: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  height: 53px;
  position: relative;
  width: 53px;
}
.overlap-group1-3 {
  background-position: 50% 50%;
  background-size: cover;
  height: 53px;
  margin-left: 5px;
  position: relative;
  width: 53px;
}
.overlap-group12 {
  align-self: flex-end;
  height: 83px;
  position: relative;
  width: 158px;
}
.overlap-group9 {
  height: 56px;
  margin-left: 0;
  margin-top: 2px;
  position: relative;
  width: 139px;
}
