.group-16 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: -54px;
  margin-top: 29px;
  min-width: 1585px;
}
.group-3 {
  align-items: flex-end;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  left: 0;
  min-width: 45px;
  padding: 0 0.0px;
  position: absolute;
  top: 18px;
}
.martian-gas-token-color-copy-1 {
  align-items: flex-start;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  left: 743px;
  min-width: 54px;
  position: absolute;
  top: 85px;
}
.overlap-group6-3 {
  height: 250px;
  position: relative;
  width: 1585px;
}
.overlap-group7 {
  height: 75px;
  margin-top: 0;
  position: relative;
  width: 54px;
}
.overlap-group8 {
  height: 49px;
  margin-bottom: 0;
  margin-left: 12px;
  position: relative;
  width: 22px;
}
.path-23 {
  height: 28px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 37px;
  width: 10px;
}
.path-24 {
  height: 27px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 19px;
}
.path-25 {
  height: 39px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 15px;
}
.path-26 {
  height: 37px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}
.path-27 {
  height: 55px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}
.path-28 {
  height: 16px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 30px;
}
.path-29 {
  height: 24px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 12px;
}
.path-30 {
  height: 12px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 20px;
}
.path-31 {
  height: 28px;
  margin-bottom: 2.23px;
  object-fit: cover;
  width: 10px;
}
.path-32 {
  height: 17px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 9px;
}
.pexels-abet-llacer-927444 {
  height: 140px;
  left: 887px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 210px;
}
.pexels-cottonbro-4009598 {
  height: 140px;
  left: 452px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 210px;
}
.pexels-freestocksorg-96380 {
  height: 140px;
  left: 1339px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 210px;
}
.pexels-kyle-loftus-2510422 {
  height: 140px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 210px;
}
.pexels-rahul-pandit-3052360 {
  height: 140px;
  left: 226px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 210px;
}
.pexels-stephen-niemeier-63703 {
  height: 140px;
  left: 1113px;
  object-fit: cover;
  position: absolute;
  top: 53px;
  width: 210px;
}
.rectangle-1 {
  background-color: var(--magnolia);
  border-radius: 8px;
  height: 140px;
  left: 678px;
  position: absolute;
  top: 53px;
  width: 193px;
}
.rectangle-copy-8 {
  background: linear-gradient(180deg, #7a41dc 0%, #6f30c0 100%);
  border-radius: 8px;
  height: 250px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 1562px;
}
