.buy-pre-sale-tokens-1 {
  height: 26px;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 26px;
  min-width: 287px;
  text-align: center;
  width: 287px;
}
.group-5 {
  align-items: flex-end;
  background: linear-gradient(180deg, #7a41dc 0%, #6e2fbf 100%);
  border-radius: 32px;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  margin-left: 2px;
  margin-top: 31px;
  min-width: 327px;
  padding: 14px 19px;
}
